@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img class="background" src="~/lib/images/pexels-photo-593172.jpeg" />
    <p class="display-4">Automobile Maintenance Log</p>
</div>
